button {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

#carrito {
    position: absolute;
    top: 0px;
    right: 0;
    width: 30%;
    display: none;
    padding: 10px;
    font-size: 1.5rem;
    background-color: rgba(11, 69, 9, 0.279);
    padding: 20px;
    backdrop-filter: blur(10px);


    /* Efecto de desenfoque */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    z-index: 1;
    height: auto;
    color: var(--primary-color);

    .topcarro {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        h2 {
            font-family: var(--title-font);

        }

        button {


            font-weight: 700;

        }
    }

    ul {
        h3 {
            font-weight: 900;
            margin-bottom: 20px;
        }

        .cantidad {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;


            div {
                button {
                    font-size: 1.5rem;
                }
            }
        }
    }

}

p {
    margin: 15px;
}

.total_carrito {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    p {
        align-content: center;
    }

    .comprar {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        align-content: center;
        padding: 10px;
        width: auto;
        height: 40px;
        font-size: large;
        font-weight: 600;
        border-radius: 10px;
        border: 1px solid var(--secondary-color);
        transition: 1s;

        &:hover {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            border-radius: 5px;
        }
    }

}

.top_carrito {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;

    h2 {
        font-family: var(--title-font);
        font-size: xx-large;
    }
}