@media (min-width: 1500px) {
    .container {
        padding: 1.25rem 1rem;
        max-width: 125rem;

    }

    nav ul li a {
        font-size: 1.5rem;

    }


    #plants_expo {

        width: 100%;

        .planta_container {

            width: calc(25% - var(--gap));


            figure {
                height: 32vh;

            }
        }



    }
}

@media (min-width: 601px) and (max-width: 1000px) {

    .planta_container {

        width: calc(50% - var(--gap));

        figure {

            height: 45vh;
        }
    }

    header {
        .container {
            .menu {
                nav {
                    width: 40%;
                }
            }
        }
    }

    .hero {
        h1 {
            color: var(--primary-color);
        }

        h5 {
            color: var(--primary-color);
        }
    }
     #carrito {
        width: 40%;
        padding: 6px;
        font-size: 1rem;

        button {
            font-weight: 700;
        }
    }

    ul {

        li {
            h3 {
                font-weight: 900;
                margin-bottom: 5px;
            }

            p {
                margin-bottom: 3px;
            }
        }

        .cantidad {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;


            div {
                button {
                    font-size: 1.5rem;
                }
            }
        }
    }

}


.total_carrito {
    display: block;
    padding: 1px;

    p {
        margin: 5px 0px;
    }

    .comprar {
        margin-top: 5px;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;

    }

}

.top_carrito {
    h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {

    #plants_expo {
        padding: 0.625rem;
    }

    .planta_container {

        width: 100%;

        figure {
            height: 60vh;

        }
    }

    header {
        .container {
            .menu {
                nav {
                    width: 40%;

                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: center;
                        gap: 0.625rem;

                    }
                }
            }
        }
    }

    .hero {
        height: 40vh;
        background-image: url("../images/fondoraw2.jpg");

        h1 {
            font-size: 4rem;
            color: var(--primary-color);
        }

        h5 {
            font-size: 1rem;
            color: var(--primary-color);
        }
    }

    #carrito {
        width: 55%;
        padding: 6px;
        font-size: 1rem;

        button {
            font-weight: 700;
        }
    }

    ul {

        li {
            h3 {
                font-weight: 900;
                margin-bottom: 5px;
            }

            p {
                margin-bottom: 3px;
            }
        }

        .cantidad {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;


            div {
                button {
                    font-size: 1.5rem;
                }
            }
        }
    }

}


.total_carrito {
    display: block;
    padding: 1px;

    p {
        margin: 5px 0px;
    }

    .comprar {
        margin-top: 5px;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;

    }

}

.top_carrito {
    h2 {
        font-size: 1.2rem;
    }
}