@media (min-width: 1500px) {
    .container {
        padding: 1.25rem 1rem;
        max-width: 125rem;

    }

    #plants_expo {

        width: 100%;

        .planta_container {

            width: calc(25% - var(--gap));


            figure {
                height: 26rem;

            }
        }



    }
}

@media (min-width: 601px) and (max-width: 1000px) {

    .planta_container {

        width: calc(50% - var(--gap));

        figure {

            height: 20rem;
        }
    }

    header {
        .container {
            .menu {
                nav {
                    width: 40%;
                }
            }
        }
    }

    .hero {
        h1 {
            color: var(--primary-color);
        }

        h5 {
            color: var(--primary-color);
        }
    }
}

@media (max-width: 600px) {

    #plants_expo {
        padding: 10px;
    }

    .planta_container {

        width: 100%;

        figure {
            height: 20rem;

        }
    }

    header {
        .container {
            .menu {
                nav {
                    width: 40%;

                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: center;
                        gap: 0.625rem;

                    }
                }
            }
        }
    }

    .hero {
        height: 40vh;
        background-image: url("../images/fondoraw2.jpg");

        h1 {
            font-size: 4rem;
            color: var(--primary-color);
        }

        h5 {
            font-size: 1rem;
            color: var(--primary-color);
        }
    }

}