#plants_expo {
    padding: 1.875rem;
    width: 90%;
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
    background-color: rgba(18, 56, 18, 0.116);
    margin: 0 auto;
    border-radius: 0.625rem;
    justify-content: space-between;

}

.nuestros_productos {
    width: 100%;
    margin-bottom: 2.5rem;
    font-size: xx-large;
    text-align: center;
    font-family: var(--title-font);
    padding: 1.25rem;

    h3 {
        color: black;

        span {
            color: var(--secondary-color);
        }
    }

}


.planta_container {
    width: calc(33.333% - var(--gap));
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    height: auto;
    padding: 0.125rem;
    justify-content: space-between;
    border-bottom-right-radius: 0.9375rem;
    border-top-left-radius: 0.9375rem;
    box-shadow: 0.125rem 0.125rem 0.125rem #2e2e2e86;
    overflow: hidden;
    background-color: white;
    border: 0.125rem solid var(--secondary-color);

    figure {
        height: 21.875rem;
    }

    img {
        width: 100%;
        height: 100%;
        padding: 0.1875rem;
        border-top-left-radius: 0.9375rem;
        mask-image: linear-gradient(black 80%, transparent);

        &:hover {
            transition: 1s;
            transform: scale(105%);
        }

    }

    p {
        font-weight: 400;
        text-align: center;
    }

    h3 {
        text-align: center;
        font-family: var(--title-font);
        color: var(--secondary-color);
        font-weight: 800;
        letter-spacing: 0.1875rem;
    }
}

.plant_desc {
    padding: 0.3125rem;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.precio_cart {
    display: flex;
    justify-content: space-around;
    padding: 0.3125rem;
    margin-bottom: 0.625rem;

    p {
        font-weight: 800;
        align-content: center;
    }

    button {
        font-size: x-large;
        align-content: center;
        text-align: center;
        display: block;
        width: 3.125rem;
        height: 1.875rem;
        border-radius: 0.3125rem;
        color: var(--secondary-color);
        cursor: pointer;
    }
}

.btnpag {
    display: flex;
    justify-content: center;
    margin: 0.625rem auto;
    color: black;

    button {
        text-align: center;
        align-content: center;
        width: 5rem;
        padding: 0.625rem;
        margin: 0.625rem;
        border-radius: 0.625rem;
        background-color: var(--secondary-color);
        transition: 0.5s;
        border: 0.0625rem solid var(--secondary-color);

        &:hover {
            background-color: white;
            color: var(--secondary-color);
            border: 0.0625rem solid var(--secondary-color);
        }
    }
}