@import url(reset.css);
@import url(plants.css);
@import url(media.css);

/* Fuentes importadas */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Importacion Iconos */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

body {
    font-family: "DM Sans", sans-serif;
}

:root {
    --primary-color: #e9f5db;
    --secondary-color: #718355;
    --title-font: "Unbounded", sans-serif;
    --text-content: #;
    --gap: 1rem;
}

.container {
    padding: 1.25rem 1.875rem;
    max-width: 87.5rem;
    margin: 0 auto;
}

/*  Css del header*/
header {
    /* background-color: var(--secondary-color); */
    position: sticky;

    width: 100%;

    .menu {

        color: var(--secondary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
            padding: 1.25rem 0;

            a {
                cursor: pointer;

                figure {
                    width: 3.125rem;
                    height: 3.125rem
                }
            }
        }

        nav {
            width: 20%;
            align-content: center;

            ul {

                display: flex;
                justify-content: space-between;

                li {

                    a {
                        color: var(--secondary-color);
                        cursor: pointer;

                        &:hover {
                            border-bottom: var(--secondary-color);
                        }
                    }
                }
            }
        }

        .button {
            text-decoration: none;
            display: block;
            color: var(--secondary-color);
            border: none;
            padding: 1rem;
            cursor: pointer;
            align-content: center;
        }
    }
}

.hero {
    background-image: url("../images/fondo1080.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 56.25rem;
    mask-image: linear-gradient(black 80%, transparent);
    align-content: center;
    width: 100vw;
    background-position: right;
}

h1 {
    font-family: var(--title-font);
    font-size: 6rem;
    margin-bottom: 2rem;
    letter-spacing: 18px;

    span {
        color: var(--secondary-color);
    }
}

h5 {
    font-size: 2rem;
}

footer {
    p {
        color: var(--secondary-color);
        text-align: center;

        a {
            color: var(--secondary-color);
        }
    }

}