@import url(reset.css);
@import url(plants.css);
@import url(carrito.css);
@import url(media.css);

/* Fuentes importadas */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Importacion Iconos */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
    display: block;
}



body {
    font-family: "DM Sans", sans-serif;
}

:root {
    --primary-color: #e9f5db;
    --secondary-color: #718355;
    --title-font: "Unbounded", sans-serif;
    --text-content: #;
    --gap: 1rem;
}

a {
    text-decoration: none;
}

.container {
    padding: 1.25rem 3rem;
    max-width: 87.5rem;
    margin: 0 auto;
}

/*  Css del header*/
header {
    /* background-color: var(--secondary-color); */
    position: sticky;
    width: 100%;
    background-color: white;
    mask-image: linear-gradient(black 80%, transparent);

    .menu {

        color: var(--secondary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
            padding: 1.25rem 0;

            a {
                cursor: pointer;

                figure {
                    width: 3.125rem;
                    height: 3.125rem
                }
            }
        }

        nav {
            width: 20%;
            align-content: center;

            ul {

                display: flex;
                justify-content: space-between;

                li {

                    a {
                        color: var(--secondary-color);
                        cursor: pointer;


                    }
                }
            }
        }

        .button {
            text-decoration: none;
            display: block;
            color: var(--secondary-color);
            border: none;
            padding: 1rem;
            cursor: pointer;
            align-content: center;
        }
    }
}

.hero {
    background-image: url("../images/fondoraw.png");
    background-size: fill;
    background-repeat: no-repeat;
    height: 60.25rem;
    mask-image: linear-gradient(black 80%, transparent);
    /* align-content: center; */
    width: 100vw;
    background-position: top;
    /*    mask-image: linear-gradient(to bottom, transparent, black); */
    /* -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent); */

}

h1 {
    font-family: var(--title-font);
    font-size: 6rem;
    padding-top: 15rem;
    margin: 2rem 0;
    letter-spacing: 18px;


    span {
        color: var(--primary-color);
    }
}

h5 {
    padding-left: 2px;
    letter-spacing: 1px;
    font-size: 2rem;

    span {
        color: var(--primary-color);
    }
}

span {
    color: white;
}

footer {
    p {
        color: var(--secondary-color);
        text-align: center;

        a {
            color: var(--secondary-color);
        }
    }

}


nav a,
footer a {
    text-decoration: none;
    position: relative;
    color: var(--secondary-color);
    display: inline-block;

}

nav a::after,
footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease;
}

nav a:hover::after,
footer a:hover::after {
    width: 100%;
}